{% extends 'base.html' %}
{% block content %}

<div class="content">
    <br>
    <span class="title">{{ profile.user.username }}'s Profile</span>
    <img src="{{ profile.avatar }}" alt="{{ profile.user.username }}'s Avatar" height="200">
    <br>
    <p>{{ profile.get_systems }}</p>
    <p>{{ profile.user.email }}</p>
    <p>{{ profile.location }}</p>

    <p>{{ profile.bio }}</p>
</div>
<br>
<div class="edit">
        <a class="btn" href="{% url 'profile_update' profile.id %}">Edit</a>
</div>
<br>

{% endblock %}