{% extends 'base.html' %}
{% block content %}

<div class="wanted">
    <br>
    <br>
    <div class="cardWords">
        <span class="title">{{ profile.user.username }}'s Profile</span>
        <img src="{{ profile.avatar }}" alt="{{ profile.user.username }}'s Avatar" height="60">
        <p>Game Sytem:&nbsp {{ profile.get_systems }}</p>
        <p>{{ profile.user.email }}</p>
        <p>Location:&nbsp {{ profile.location }}</p>
        <p>Bio</p>
        <p>{{ profile.bio }}</p>
    </div>
</div>
<div class="edit">
        <a class="btn" href="{% url 'profile_update' %}">Edit</a>
</div>
<br>
{% endblock %}