{% extends 'base.html' %}
{% block content %}

<div class="content">

    <p><a href="{% url 'groups_detail' group.id %}">{{ group.group_name }}</a></p>

    {% if contender %}
    <img src="{{ contender.avatar }}" alt="{{ contender.user.username }}'s Avatar" height="60">
    </br>
    <span class="title">{{ contender.user.username }}</span>

    <p>{{ contender.bio }}</p>

    <form action="" method="post" class="swipeForm">
        {% csrf_token %}
        <input type="hidden" name="contender_id" value="{{ contender.id }}">
        <div class="yeaNayRow">
            <input type="submit" name="NAY" value="NAY" class="btn yesNoBtn redBtn">
            <a href="" class="btn yesNoBtn">NEXT</a>
            <input type="submit" name="YEA" value="YEA" class="btn yesNoBtn">
        </div>
    </form>
    {% else %}
    <p>
        There are currently no more contenders available for you
        to consider for this group.<br>
        If you would like to have more, make sure this group is
        marked as looking for players, then check back later.
    </p>
    {% endif %}
</div>

{% endblock %}
