{% extends "base.html" %}

{% block content %}

<div class=card>
    <h2>{{ group.group_name }}</h2>
    <p class=cardword><b>System:&nbsp</b> {{ group.system }}</p>
    <p>Next Session</p>
    <p>{{ group.date }}</p>
    <p>Players</p>
    <ul>
        {% for g in group.players.all %}
        <li>{{g.user.first_name}}</li>
        {% endfor %}
    </ul>
    <p>Location: {{ group.location }}</p>
    <p>Details: {{ group.details|linebreaksbr }}</p>
    {% if group.looking %}
        <p>Yes! We are looking for players</p>
    {% else %}
        <p>We are not looking for players at this time</p>
    {% endif %}
</div>
<div class="row">
    <btn href="" type="button" class="btn">Edit</btn>
    <btn href="" type="button" class="btn">Delete</btn>
</div>
<br>


{% endblock %}

