{% extends "base.html" %}

{% block content %}

<div class=card>
    <h2>{{ group.group_name }}</h2>
    <p class=cardword><b>System:&nbsp</b> {{ group.system }}</p>
    <p>Next Session</p>
    <p>{{ group.date }}</p>
    <p>Players</p>
    <ul>
        {% for player in group.players.all %}
        <li>
            {% if group.players.all.count > 1 %}
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="player_id" value="{{player.id}}">
                <button class="">X</button>
            </form>
            {% endif %}
            {{player.user.username}}
        </li>
        {% endfor %}
    </ul>
    <p>Location: {{ group.location }}</p>
    <p>Details: {{ group.details|linebreaksbr }}</p>
    {% if group.looking %}
    <p>Yes! We are looking for players</p>
    {% else %}
    <p>We are not looking for players at this time</p>
    {% endif %}
    {% if show_contenders %}
    <p><a href="{% url 'contender_detail' group.id %}">
        Manage {{ group.contenders.all.count }} Contender{{ group.contenders.all.count|pluralize}}
    </a></p>
    {% endif %}
</div>
<div class="row">
    <a href="{% url 'group_update' group.id %}" type="button" class="btn">Edit</a>
    <a href="{% url 'group_delete' group.id %}" type="button" class="btn">Delete</a>
</div>
<br>


{% endblock %}
