{% extends "base.html" %}

{% block content %}

<div class=card>
    <h2>{{ group.group_name }}</h2>
    <p class=cardword><b>System:&nbsp</b> {{ group.system }}</p>
    <p>Next Session</p>
    <p>{{ group.date }}</p>
    <p>Players</p>
    <ul>
        {% for g in group.players.all %}
        <li>{{g.user.username}}</li>
        {% endfor %}
    </ul>
    <p>Location: {{ group.location }}</p>
    <p>Details: {{ group.details|linebreaksbr }}</p>
    {% if group.looking %}
        <p>Yes! We are looking for players</p>
    {% else %}
        <p>We are not looking for players at this time</p>
    {% endif %}
    {% if is_member %}
        <p><a href="{% url 'contender_detail' group.id %}">
            Manage {{ group.contenders.all|length }} Contender{% if not group.contenders.all|length_is:"1" %}s{% endif %}
        </a></p>
    {% endif %}
</div>
<div class="row">
    <a href="{% url 'group_update' group.id %}" type="button" class="btn">Edit</a>
    <a href="{% url 'group_delete' group.id %}" type="button" class="btn">Delete</a>
</div>
<br>


{% endblock %}

