{% extends "base.html" %}

{% block content %}

{% comment %}
group display
yes/no buttons
{% endcomment %}

<h1>Find a Group</h1>

<p>Group Name: {{ group.group_name }}</p>
<p>System: {{ group.system }}</p>
<p>Next Session: {{ group.date }}</p>
<p>Details: {{ group.details }}</p>

<a href="" class="btn">No</a>
<form action="{% url 'add_contender' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="group_id" value="{{ group.id }}">
    <button type="submit" class="btn">Yes</button>
</form>

{% endblock %}
