{% extends "base.html" %}

{% block content %}

<h2 class="h2">Find a Group</h2>

{% if group %}

<div class="charter">
    <!--<img class="paper" src='https://imgur.com/lpdmm0E.png'>-->
        <div class="cardWords">
            <p><large>{{ group.group_name }}<large></p>
            <p>System:&nbsp {{ group.system }}</p>
            <p>Next Session:</p>
            <p>{{ group.date }}</p>
            <p>Details</p>
            <p>{{ group.details|linebreaksbr }}</p>
        </div>
</div>
<form class="swipeForm" action="{% url 'add_contender' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="group_id" value="{{ group.id }}">
    <a href="" class="btn redBtn yesNoBtn">NAY</a>
    <!-- Placed inside form so it's easier to style, was acting completely different - BGQ -->
    <button type="submit" class="btn yesNoBtn">YEA</button>
</form>

{% else %}

<p>
    There are currently no more groups available for you
    to consider with the criteria you have chosen in your profile.<br>
    Please try looking for different kinds of games or time
    availabilities, or just check in again later.
</p>

{% endif %}

{% endblock %}
