{% extends "base.html" %}

{% block content %}

{% comment %}
group display
yes/no buttons
{% endcomment %}

<h1>Find a Group</h1>

{#% # if (group == true) %#}

<div class="card">
    <p class="cardWords"> 
    <b>Group Name:</b>&nbsp {{ group.group_name }}<br>
    <br>
    <b>System:</b>&nbsp {{ group.system }}<br>
    <br>
    <b>Next Session:</b><br>
    {{ group.date }}<br>
    <br>
    <b>Details</b> <br> 
    <br>
    {{ group.details|linebreaksbr }}</p>
<div>
<br>
<form action="{% url 'add_contender' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="group_id" value="{{ group.id }}">
    <div class="yeaNayRow">
        <a href="" class="btn">NAY</a> <!-- Placed inside form so it's easier to style, was acting completely different - BGQ -->
        <button type="submit" class="btn">YEA</button>
    </div>
</form>


{#% else %#}

    <!--<p>There are currently no more groups available for you 
    to consider with the criteria you have chosen in your profile.<br> 
    Please try looking for different kinds of games or time 
    availabilities, or just check in again later.</p>-->

{#% # endif %#}

{% endblock %}
