{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <title>Tavern</title>
</head>

<body>
    <header>
        <nav>
            <ul id="navRow">
                <li class="navLi">
                    <a href="{% url 'lfg' %}">
                        <img class='navImg' src="https://imgur.com/n5Ytoyc.png">
                            <!--<p class="navp">Find<br>Group</p>--></a></li>
                <li class="navLi">
                    <a href="{% url 'groups_index' %}">
                        <img class='navImg' src="https://imgur.com/15LMFYr.png">
                            <!--<p class="navp">Your<br>Groups</p>--></a></li>
                <li class="navLi">
                    <img id="navLogo" src="https://imgur.com/az89k3x.png" alt="Logo">
                        <!--<p class="Unifraktur">Tavern</p>--></li>
                <li class="navLi">
                    <a href="{% url 'profile' %}">
                        <img class='navImg' src="https://imgur.com/SA8TLcg.png">
                            <!--<p class="navp">Profile</p>--></a></li>
                <li class="navLi">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">
                            <img class='navImg' src="https://imgur.com/Buu207m.png">
                                <!--<p class="navp">Log<br>Out</p>--></a></li>
                    {% else %}
                        <a href="{% url 'login' %}">
                            <img class='navImg' src="https://imgur.com/Buu207m.png">
                                <!--<p class="navp">Log<br>In</p>--></a></li>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <main id="basemain">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div id="footlogo">
            <img id="logo" src="https://imgur.com/az89k3x.png" alt="Logo">
        </div>
        <div>
            <p class="Unifraktur">Tavern</p>
            <p id="copyright"> Copyright © 2020<br>
             Brian Quezada, Wesley Stedman, & Sam Ostrom </p>
        </div>
    </footer>
</body>

</html>
