
/* DEFAULT STYLING */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-size: 100%;
    font: 16px 'Cinzel Decorative', cursive, sans-serif;
    /*overflow-x: hidden;*/
    scroll-behavior: smooth;
    background-color: black;
    width: 100%;
    height: auto;
    color: #c06621;
    text-shadow: 1px 2px 0px #000000;
}
a {
    color: #627BA1;
}
a:hover {
    color: #627BA1;
}
header {width: 100%}
ul, ol {
    width: 100%;
    
}
li {
    list-style-type: none;
    margin: 0vh 0vw 0vh 0vw;
    text-shadow: 1px 1px 0px #000000;
}
h1 {font-size: 4.6vw}
.h2 {
    margin: 1vh 0 1vh 0;
}
p {
    font-size: 1.5vw;
    margin: 5px 1vw 5px 1vw;
}
/* Navigation */
nav{
    background-color: black;
    width: 87vw;
    margin: 0px 0px 0px 0vw;
}
#navRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5vh 0px 0.5vh 0vw;
}
.navImg{
    width: 50px;
    height: auto;
    max-width: 50px; /* Avoid attribution requirement by keeping below 100px */
    max-height: 50px; /* Avoid attribution requirement by keeping below 100px */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.navLi{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 1px 1px 0px #000000;
}
.navp {
    font-size: 2vw;
    text-align: center;
    color: #fff;
    margin: 0px 0vw 0px 0px;
}
#navLogo {
    width: 60px;
    height: auto;
    max-width: 99px; /* Avoid attribution requirement by keeping below 100px */
    max-height: 99px; /* Avoid attribution requirement by keeping below 100px */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
/* Footer */
footer {
    background: black;
    position: relative;
    bottom: 0px;
    padding: 5px 0 0px 0;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 2px solid #5a5a5a;
}
#footlogo {
    background-color: black;
    border-radius: 15px;
    padding: 5px 5px 0px 5px;
    margin: 0 5px 5px 10px;
    font-family: 'UnifrakturMaguntia', cursive;
    color: #A40E01;
}
#copyright {
    font-size: 70%;
    margin: 5px 5px 15px 5px;
}


/* LANDING PAGE */
.landingp {
    font-size: 1.75vw;
    margin: 2vh 3vw 0 2vw;
}
#sellIt {
    background: black;
    padding: 15px 0 15px 0;
    margin: 5vh 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: Left;
    text-align: center;
    justify-content: center;
    width: 100%;
}
.sellPt {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: left;
    margin: 0vh 1vw 0vh 1vw;
    padding: 0 0vw 0 0vw;
}
.sellImg{
    width: 15vw;
    height: auto;
    max-width: 99px; /* Avoid attribution requirement by keeping below 100px */
    max-height: 99px; /* Avoid attribution requirement by keeping below 100px */
    margin: 0vh 3vw 0 3vw;
    padding: 0 0vw 0 3vw;
}


/* CONTAINER CLASSES & IDS */
#basemain {
    background-color: white;
    width: 97%;
}
#landingbody {
    background-image:url('/static/third.gif');
    background-repeat: no-repeat;
    background-color: black;
    backdrop-filter: brightness(75%);
    background-size: 100%;
    width: 100%;
    height: auto;
    color: white;
    padding: 1px 0 0 0;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.loginBtnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* Cards */
.charter {
    margin: 5px 1vw 1vh 1vw;
    padding: 5px 0 0 0;
    background-image: url('https://imgur.com/lpdmm0E.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.wanted {
    margin: 5px 1vw 1vh 1vw;
    padding: 5px 0 0 0;
    background-image: url('https://imgur.com/MsnEsTj.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.groupIndex {
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.paper {
    height: 50vh;
    width: auto;
    max-width: 100%;
    position: relative;
}
.cardWords {
    /*padding: 50px 0px 1vh 0px;*/
    margin: 50px 0vw 0px 0vw;
    max-width: min(80vw, 390px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.cardWords p {
    line-height: 2.5vh;
    font-size: 1.5vh;
    text-shadow: 0px 0px 0px #000000;
}


/* FORMS */
form {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    line-height: 2.25vh;
    font-size: 3vw;
    padding: 3vh 0vw 3vh 0vw;
    margin: 2vh 0vw 0vh 0vw;
    width: 100%;
    height: auto;
    border-radius: 15px;
}
#loginPageForm {
    margin: 20vh 1vw 40vh 1vw;
}
#signinPageForm {
    width: 100%;
    padding: 0vh 0vw 0vh 0vw;
    margin: 5vh 0vw 5vh 0vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 3vw;
    font-size: 2vw;
}
.swipeForm {
    background-color: transparent;
    height: 100px;
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}


/* BUTTONS */
.btn {
    background-color:#d67125;
    background-image: -webkit-linear-gradient(top, #DD8949, #C06621);
    background-image: -moz-linear-gradient(top, #DD8949, #C06621);
    background-image: -ms-linear-gradient(top, #DD8949, #C06621);
    background-image: -o-linear-gradient(top, #DD8949, #C06621);
    background-image: linear-gradient(to bottom, #DD8949, #C06621);
    border-radius: 15px;
    color: #fff;
    font: 16px 'Cinzel Decorative', cursive, sans-serif;
    font-size: 3vw;
    font-weight: 60;
    padding: 1vh 2.75vw 1vh 2.75vw;
    margin: 1vh 1vw 1vh 1vw;
    text-shadow: 1px 2px 0px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: groove grey 1px;
    box-shadow: 0px 1px 21px 4px #EC6542;
    -webkit-box-shadow: 0px 1px 21px 4px #EC6542;
    -moz-box-shadow: 0px 1px 21px 4px #EC6542;
}
.btn:hover {
    background-color:#ce8b58;
    background-image: -webkit-linear-gradient(top, #DD8949, #C06621);
    background-image: -moz-linear-gradient(top, #DD8949, #C06621);
    background-image: -ms-linear-gradient(top, #DD8949, #C06621);
    background-image: -o-linear-gradient(top, #DD8949, #C06621);
    background-image: linear-gradient(to bottom, #DD8949, #C06621);
}
.redBtn {
    background-color:#A40E01;
    background-image: -webkit-linear-gradient(top, #D71201, #710A01);
    background-image: -moz-linear-gradient(top, #D71201, #710A01);
    background-image: -ms-linear-gradient(top, #D71201, #710A01);
    background-image: -o-linear-gradient(top, #D71201, #710A01);
    background-image: linear-gradient(to bottom, #D71201, #710A01);
}
.redBtn:hover {
    box-shadow: 0px 1px 21px 4px #f75e59;
    -webkit-box-shadow: 0px 1px 21px 4px #f75e59;
    -moz-box-shadow: 0px 1px 21px 4px #f75e59;
}
#loginPageBtn {
    font-size: 20px;
    margin: 25px 0 0 0;
}
.yesNoBtn {
    margin: 1vh 3vw 1vh 3vw;
    font: 2.5vw 'Cinzel Decorative', cursive, sans-serif;
    padding: 1vh 2.75vw 1vh 2.75vw;
}



/* STYLERS */
#Unifraktur {
    font-family: 'UnifrakturMaguntia', cursive;
    color: #A40E01;
    font-size: 8vw;
}
.Unifraktur {
    font-family: 'UnifrakturMaguntia', cursive;
    color: #A40E01;
    font-size: 4vw;
}
#logo {
    width: 99px; /* Avoid attribution requirement by keeping below 100px */
    height: 99px; /* Avoid attribution requirement by keeping below 100px */
    margin: 0vh 0 0vh 0;
}