{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Tavern</title>
</head>

<body>
    <header>
        <nav>
            <ul class="row">
                <li>Find Group</li>
                <li>Your Groups</li>
                <li>Profile</li>
                {% if user.is_authenticated %}
                
                <li><a href="{% url 'bio' %}">Edit Bio</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
    </footer>
</body>

</html>
